<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <table>
     <tr>
       <th>Documento</th>
       <th>Nombre</th>
       <th>Apellido</th>
       <th>Celular</th>
       <th>Email</th>
        <th>Edad</th>
        <th>Fecha</th>
        <th>Fecha</th>
     </tr>



     <tr th:each="i:${clientes}">
         <td th:text="${i.docunemto}">Documento</td>
         <td th:text="${i.nombre}">Nombre</td>
         <td th:text="${i.apellido}">Apellido</td>
         <td th:text="${i.correo}">Email</td>
         <td th:text="${i.celular}">Celular</td>
         <td th:text="${i.edad}">Edad</td>
         <td th:text="${i.fecha}">Fecha</td>
         <td>
             
             <a th:href="@{/editar/{id}(id=${i.docunemto})}">Editar</a>   
         </td>
         <td>
            <a th:href="@{/cliente/{id}(id=${i.docunemto})}">Eliminar</a>   
             
         </td>


     </tr>


 </table>

</body>
</html>