<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hhhkkk</h1>

<a th:href="@{/cliente}">Lista de clientes</a>
<a th:href="@{/cliente/nuevo}">Insertar Cliente</a>
<a th:href="@{/cliente/editar}">Editar Cliente</a>
<a th:href="@{/cliente}">Eliminar Cliente</a>

<a th:href="@{/usuario}">Lista de usuario</a>
<a th:href="@{/usuario/nuevo}">Insertar usuario</a>
<a th:href="@{/usuario/editar}">Editar usuario</a>
<a th:href="@{/usuario}">Eliminar usuario</a>




</body>
</html>