<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Registrar Clientessssss</h1>
<!--<form th:action="@{/cliente/guardar}" th:object="${clienteinsertar}" method="post" >

    <input  type="text" th:field="*{documento}" placeholder="Documento">
    <input  type="text" th:field="*{nombre}" placeholder="Nombre">
    <input  type="text" th:field="*{apellido}" placeholder="Apellido">
    <input  type="text" th:field="*{correo}" placeholder="Email">
    <input  type="text" th:field="*{celular}" placeholder="Celular">
    <input  type="submit" value="Registrar">



</form>-->


<form th:action="@{/cliente/guardar}" th:object="${clienteinsertar}" method="post">

    <input type="text" th:field="*{docunemto}" placeholder="Documento">
    <input type="text" th:field="*{nombre}" placeholder="Nombre">
    <input type="text" th:field="*{apellido}" placeholder="Apellido">
    <input type="text" th:field="*{celular}" placeholder="Celular">
    <input type="text" th:field="*{correo}" placeholder="Email">
    <input type="text" th:field="*{edad}" placeholder="edad">
    <input type="text" th:field="*{fecha}" placeholder="Fecha">
    <button type="submit">Registrar</button>

</form>>

</body>
</html>