<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <table>
     <tr>
       <th>Documento</th>
       <th>Uusario</th>
       <th>Calve</th>
       <th>Rol</th>
       <th>Estado</th>
       
     </tr>



     <tr th:each="i:${usuarios}">
         <td th:text="${i.docunemto}">Documento</td>
         <td th:text="${i.usuario}">Usuario</td>
         <td th:text="${i.clave}">Clave</td>
         <td th:text="${i.rol}">Rol</td>
         <td th:text="${i.estado}">Estado</td>
       
         <td>
             
             <a th:href="@{/editar/{id}(id=${i.docunemto})}">Editar</a>   
         </td>
         <td>
            <a th:href="@{/cliente/{id}(id=${i.docunemto})}">Eliminar</a>   
             
         </td>


     </tr>


 </table>

</body>
</html>